:root{
    --cor-background: #222831;
    --cor-container: #31363F;
    --cor-texto: #EEEEEE;
    --cor-borda: #14181d;
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
color: var(--cor-texto);

}

body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-background);
    height: 100vh;
    margin: 0;
}

.Container{
    box-sizing: border-box;
    padding: 5%;
    justify-content: space-between;
    align-content: center;
    background-color: var(--cor-container);
    border: 3px solid var(--cor-borda);  
    border-radius: 6px;
    width: 25rem;
    
}

.ContainerInput{
    color: var(--cor-borda);
}

.ContainerBotoes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.ContainerBotao{
    background-color: black;
    border: var(--cor-borda);
    padding: 10px;
    border-radius: 6px;
}